[submodule "test/projects/spring-petclinic"]
	path = test/projects/spring-petclinic
	url = https://github.com/spring-projects/spring-petclinic
[submodule "test/projects/gs-rest-service"]
	path = test/projects/gs-rest-service
	url = https://github.com/spring-guides/gs-rest-service
[submodule "test/projects/spring-kotlin-tutorial"]
	path = test/projects/spring-kotlin-tutorial
	url = https://github.com/spring-guides/tut-spring-boot-kotlin
